*{padding:0;
    margin: 0;
}
#row1{
background-color: rgb(25, 131, 134);
height: 30px;


width: 100%;

}
.top-section{

    width: 90%;
    margin: 0 auto;
}
.left-link {

width: 60%;
float: left;
height: 100%;


}
.left-link ul{}


.left-link ul li{

    float: left;
 list-style: none;
 margin-left: 10px;
 color: #fff;
 line-height: 30px;

}    
.left-link ul li a{

    color: #fff;
    text-decoration: none;
}
.social-link{
    width: 30%;
    float: right;

    height: 100%;
    text-align: right;

}
.social-link i{
    color: #fff;
line-height: 30px;
border-right: 2px solid #000;
padding-right: 8px;

}
/* Row-1 css End */
/* Row-2 css End */
#row2{
height: 80px;
width: 100%;
background:#fff;
}
.header_section{

    width: 90%;
    margin:0 auto;
}
.logo{
    width: 25%;
    float: left;
}
.logo img{
    height:60 px;
    margin-top: 10px;
    padding-left: 40px;
   
   
}
.menu{
    width: 65%;
    float: right;
    text-align: right;

}
.menu ul{}
.menu ul li{
    float: left;
    line-height: 80px;
    width: 106px;
    text-align: center;
    list-style: none;
    
}
.menu ul li a{

    text-decoration: none;
    text-transform: uppercase;
    color:black;
}
.menu ul li i{

    height: 30px;
    width: 30px;
    border: 2px solid #000;
    border-radius: 100%;
    line-height: 30px;
}

/* Row-2 css End */

/* Row-3 css start */
#row-3{
height: 800px;
width: 100%;
    background-image: url(../images/calm-water-in-european-city.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: round;
    position: relative;


}
.overlayrow3{
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    position: absolute;
}
.banner_section{
    text-align: center;
    color: #fff;
    position: absolute;
    width: 100%;
    margin: 0 auto;

}
.banner_content{}
.banner_content h1{
    text-transform: uppercase;
    font-size: 50px;
    line-height: 70px;
    padding-top: 200px;
}
.banner_content p{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 40px;
}
.banner_button{}
.banner_button button{
    padding: 10px 20px;
    background:none;
    border:2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    margin-right: 10px;
}
.banner_button button:hover{

    background-color:#455964 ;
    transition: 1s;
}


/* Row-3 css End */

/* Row-4 css start */

#row4{
    height: 80px;
    width: 100%;
    background: #234757;
}
.form_section{
    width: 90%;
    margin: 0 auto;
}
.text_part{
    width: 15%;
    float: left;
    text-transform: uppercase;
    padding-top: 10px;
}
.text_part h4{
line-height: 32px;
    
}
.text_part h1{
    color: #fff;
}
.form_part{
    padding-top: 23PX;
}
.form_part form{
    width: 80%;
    float: left;
}
.input_item{

    float: left;
    padding-top: 10px;
    width: 420px;
}
.input_item label{
    font-size: 18PX;
    font-weight: 500;
    color: grey;
    padding-right: 15px;
}
.input_item input[type="text"]{
    padding: 8px;
    width: 320px;
    color: gray;
}
.input_item input[type="date"]{
    padding: 8px;
    width: 320px;
    color: grey;
}
.input_item i{
    color: gray;
    position: absolute;
    margin-left: -30px;
    line-height: 35px;
}
.form_part button{
    padding: 10px 15px;
    margin-top: 10px;
    background: lightgray;
    border: none;
  
}
/* Row-4 css End */

